* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-items: center;
}

a {
    text-decoration: none;
}
