<header>
	<nav>
		<div class="logo">
			<a href="{% url 'home' %}">NaijaJobs</a>
		</div>

		<div class="nav-menu" id="navMenu">
			<div class="nav">
				<ul>
					<li>
						<a href="{% url 'home' %}">Home</a>
					</li>
					<li>
						<a href="{% url 'find_job' %}">Find Jobs</a>
					</li>
					<li>
						<a href="{% url 'about' %}">About</a>
					</li>
					<li>
						<a href="{% url 'post_job' %}" class="btn">Post a Job</a>
					</li>
				</ul>
			</div>
			<div class="auth">
				<ul>
					{% if user.is_authenticated %}
					<li>
						<a href="{% url 'logout' %}">Logout</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'signup' %}">Signup</a>
					</li>
					<li>
						<a href="{% url 'login' %}">Login</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>

		<div class="nav-actions">
			<button class="toggle-btn" id="toggleBtn">
 				<i class="fa-solid fa-moon" id="themeIcon"></i>
			</button>
			<button class="hamburger-btn" id="hamburgerBtn" aria-label="Toggle menu" aria-expanded="false">
				<i class="fa-solid fa-bars"></i>
			</button>
		</div>
	</nav>
</header>